{% load static %}

        <!--Site Footer One Start-->
        <footer class="site-footer">
            <div class="site-footer__top">
                <div class="container">
                    <div class="site-footer__top-inner">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <div class="footer-widget__column footer-widget__about">
                                    <div class="footer-widget__about-logo">
                                        <a href="{% url 'index' %}"><img src="{{ home.logo.url }}" width="150"
                                                alt=""></a>
                                    </div>
                                    <p class="footer-widget__about-text">Welcome to our Trip and Tour Agency. Lorem
                                        simply text amet cing elit.</p>
                                    <ul class="footer-widget__about-contact list-unstyled">
                                        <li>
                                            <div class="icon">
                                                <i class="fas fa-phone-square-alt"></i>
                                            </div>
                                            <div class="text">
                                                <a href="tel:+92-666-888-0000">{{ home.phone}}</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="fas fa-envelope"></i>
                                            </div>
                                            <div class="text">
                                                <a href="mailto:needhelp@company.com">{{ home.email}}</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </div>
                                            <div class="text">
                                                <p>{{home.address}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="footer-widget__column footer-widget__company clearfix">
                                    <h3 class="footer-widget__title">{{home.title}}</h3>
                                    <ul class="footer-widget__company-list list-unstyled">
                                        <li><a href="{% url 'about' %}">О нас </a></li>
                                        <li><a href="#"> Блог</a></li>
                                        <li><a href="#">Награды</a></li>
                                        <li><a href="#">Работайте с нами</a></li>
                                        <li><a href="#">Наша команда</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="footer-widget__column footer-widget__explore">
                                    <h3 class="footer-widget__title">Исследование</h3>
                                    <ul class="list-unstyled footer-widget__explore-list">
                                        <li><a href="#">Аккаунт</a></li>
                                        <li><a href="#">Легальный</a></li>
                                        <li><a href="#">Связаться с нами</a></li>
                                        <li><a href="#">Партнерская программа</a></li>
                                        <li><a href="#">Политика конфиденциальности</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="footer-widget__column footer-widget__newsletter">
                                    <h3 class="footer-widget__title">Новостная рассылка</h3>
                                    <form class="footer-widget__newsletter-form mc-form"
                                        data-url="https://xyz.us18.list-manage.com/subscribe/post?u=20e91746ef818cd941998c598&id=cc0ee8140e">
                                        <div class="footer-widget__newsletter-input-box">
                                            <input type="email" placeholder="Email address" name="EMAIL">
                                            <button type="submit"
                                                class="footer-widget__newsletter-btn">Подписаться</button>
                                        </div>
                                    </form>
                                    <div class="mc-form__response text-center"></div><!-- /.mc-form__response -->
                                    <div class="footer-widget__newsletter-bottom">
                                        <div class="footer-widget__newsletter-bottom-icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="footer-widget__newsletter-bottom-text">
                                            <p>Я согласен со всеми условиями и политиками</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-footer__bottom-inner">
                                <div class="site-footer__bottom-left">
                                    <div class="footer-widget__social">
                                        <a href="{{ home.twitter}}"><i class="fab fa-twitter"></i></a>
                                        <a href="{{ home.facebook }}"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="{{home.instagram}}"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="site-footer__bottom-right">
                                    <p>@ All Copyright 2022, <a href="#">Zina</a></p>
                                </div>
                                <div class="site-footer__bottom-left-arrow">
                                    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><span
                                            class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer One End-->


    </div><!-- /.page-wrapper -->