 
    <div class="preloader">
        <img class="preloader__image" width="60" src="assets/images/loader.png" alt="" />
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <header class="main-header clearfix">
            <div class="main-header__top">
                <div class="container">
                    <div class="main-header__top-inner clearfix">
                        <div class="main-header__top-left">
                            <ul class="list-unstyled main-header__top-address">
                                <li>
                                    <div class="icon">
                                        <span class="icon-phone-call"></span>
                                    </div>
                                    <div class="text">
                                        <a href="tel:+92-666-999-0000">+ 92 666 999 0000</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-at"></span>
                                    </div>
                                    <div class="text">
                                        <a href="mailto:needhelp@company.com">needhelp@company.com</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main-header__top-right">
                            <div class="main-header__top-right-inner">
                                <div class="main-header__top-right-social">
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                                <div class="main-header__top-right-btn-box">
                                    <a href="#" class="thm-btn main-header__top-right-btn">Become a local guide</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>