{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
        <!--Destinations One Start-->
        <section class="destinations-one destinations-page">
            <div class="container">
                <div class="row masonary-layout">
                    <div class="col-xl-3 col-lg-3">
                        <div class="destinations-one__single">
                            <div class="destinations-one__img">
                                <img src="{% static 'assets/images/destination/destination-1-1.png' %}" alt="">
                                <div class="destinations-one__content">
                                    <h2 class="destinations-one__title"><a href="destinations-details.html">Spain</a></h2>
                                </div>
                                <div class="destinations-one__button">
                                    <a href="#">6 tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="destinations-one__single">
                            <div class="destinations-one__img">
                                <img src="{% static 'assets/images/destination/destination-1-2.png' %}" alt="">
                                <div class="destinations-one__content">
                                    <p class="destinations-one__sub-title">Wildlife</p>
                                    <h2 class="destinations-one__title"><a href="destinations-details.html">Thailand</a></h2>
                                </div>
                                <div class="destinations-one__button">
                                    <a href="#">6 tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="destinations-one__single">
                            <div class="destinations-one__img">
                                <img src="{% static 'assets/images/destination/destination-1-3.png' %}" alt="">
                                <div class="destinations-one__content">
                                    <h2 class="destinations-one__title"><a href="destinations-details.html">Africa</a></h2>
                                </div>
                                <div class="destinations-one__button">
                                    <a href="#">6 tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="destinations-one__single">
                            <div class="destinations-one__img">
                                <img src="{% static 'assets/images/destination/destination-1-4.png' %}" alt="">
                                <div class="destinations-one__content">
                                    <h2 class="destinations-one__title"><a href="destinations-details.html">Australia</a></h2>
                                </div>
                                <div class="destinations-one__button">
                                    <a href="#">6 tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="destinations-one__single">
                            <div class="destinations-one__img">
                                <img src="{% static 'assets/images/destination/destination-1-5.png' %}" alt="">
                                <div class="destinations-one__content">
                                    <p class="destinations-one__sub-title">Adventure</p>
                                    <h2 class="destinations-one__title"><a href="destinations-details.html">Switzerland</a></h2>
                                </div>
                                <div class="destinations-one__button">
                                    <a href="#">6 tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="destinations-one__single">
                            <div class="destinations-one__img">
                                <img src="{% static 'assets/images/destination/destination-1-6.png' %}" alt="">
                                <div class="destinations-one__content">
                                    <p class="destinations-one__sub-title">Adventure</p>
                                    <h2 class="destinations-one__title"><a href="destinations-details.html">Europe</a></h2>
                                </div>
                                <div class="destinations-one__button">
                                    <a href="#">6 tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="destinations-one__single">
                            <div class="destinations-one__img">
                                <img src="{% static 'assets/images/destination/destination-1-7.png' %}" alt="">
                                <div class="destinations-one__content">
                                    <h2 class="destinations-one__title"><a href="destinations-details.html">San Francisco</a></h2>
                                </div>
                                <div class="destinations-one__button">
                                    <a href="#">6 tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="destinations-one__single">
                            <div class="destinations-one__img">
                                <img src="{% static 'assets/images/destination/destination-1-8.png' %}" alt="">
                                <div class="destinations-one__content">
                                    <p class="destinations-one__sub-title">Tours</p>
                                    <h2 class="destinations-one__title"><a href="destinations-details.html">China</a></h2>
                                </div>
                                <div class="destinations-one__button">
                                    <a href="#">6 tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="destinations-one__single">
                            <div class="destinations-one__img">
                                <img src="{% static 'assets/images/destination/destination-1-9.png' %}" alt="">
                                <div class="destinations-one__content">
                                    <h2 class="destinations-one__title"><a href="destinations-details.html">Germany</a></h2>
                                </div>
                                <div class="destinations-one__button">
                                    <a href="#">6 tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="destinations-one__single">
                            <div class="destinations-one__img">
                                <img src="{% static 'assets/images/destination/destination-1-10.png' %}" alt="">
                                <div class="destinations-one__content">
                                    <h2 class="destinations-one__title"><a href="destinations-details.html">Dubai</a></h2>
                                </div>
                                <div class="destinations-one__button">
                                    <a href="#">6 tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Destinations One End-->



{% include 'include/footer.html' %}
{% endblock %}