{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

 

        <!--Destinations Details Start-->
        <section class="destinations-details">
            <div class="container">
                <div class="row">

                    <div class="col-xl-8 col-lg-7">
                        {% for detail in country_details %}
                        <div class="destinations-details__left">
                            <div class="destinations-details__img">
                                <img src="{{ detail.image.url }}" alt="">
                            </div>
                            <div class="destinations-details__discover">
                                <h3 class="destinations-details__title">{{ detail.title }}</h3>
                                <p class="destinations-details__discover-text-1">{{ detail.description }}</p>
                            </div>
                            
                            <div class="destinations-details__overview">
                                <h3 class="destinations-details__title">Overview</h3>
                                {% for details in country_details %}
                                <ul class="list-unstyled destinations-details__overview-list">
                                    <li>
                                         <div class="destinations-details__overview-left">
                                             <p>Страна</p>
                                            </div>
                                            <div class="destinations-details__overview-right">
                                                <p>{{ details.country }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="destinations-details__overview-left">
                                                <p>Визовые требования</p>
                                            </div>
                                            <div class="destinations-details__overview-right">
                                                <p>{{ details.visa }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="destinations-details__overview-left">
                                                <p>Язык страны</p>
                                            </div>
                                            <div class="destinations-details__overview-right">
                                                <p>{{ details.language }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="destinations-details__overview-left">
                                                <p>Валюта</p>
                                            </div>
                                            <div class="destinations-details__overview-right">
                                                <p>USD</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="destinations-details__overview-left">
                                                <p>Площадь</p>
                                            </div>
                                            <div class="destinations-details__overview-right">
                                                <p>{{ details.area }} km2</p>
                                            </div>
                                        </li>
                                    </ul>
                                    {% endfor %}
                                </div>
                                <div class="destinations-details__faq">
                                    <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                        <div class="accrodion active">
                                            <div class="accrodion-title">
                                                <h4>Why are your Tours so Expensive?</h4>
                                            </div>
                                            <div class="accrodion-content">
                                                <div class="inner">
                                                    <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words. Lorem ipsum dolor sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel ea iisque aliquam.</p>
                                                </div><!-- /.inner -->
                                            </div>
                                        </div>
                                        <div class="accrodion">
                                            <div class="accrodion-title">
                                                <h4>Why are your Tours so Expensive?</h4>
                                            </div>
                                            <div class="accrodion-content">
                                                <div class="inner">
                                                    <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words. Lorem ipsum dolor sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel ea iisque aliquam.</p>
                                                </div><!-- /.inner -->
                                            </div>
                                        </div>
                                        <div class="accrodion last-chiled">
                                            <div class="accrodion-title">
                                                <h4>Why are your Tours so Expensive?</h4>
                                            </div>
                                            <div class="accrodion-content">
                                                <div class="inner">
                                                    <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words. Lorem ipsum dolor sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel ea iisque aliquam..</p>
                                                </div><!-- /.inner -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    <!-- <div class="col-xl-4 col-lg-5">
                        <div class="destinations-details__right">
                            <div class="tour-details-two__last-minute tour-details-two__last-minute-2">
                                <h3 class="tour-details-two__sidebar-title">Last Minute</h3>
                                <ul class="tour-details-two__last-minute-list list-unstyled">
                                    <li>
                                        <div class="tour-details-two__last-minute-image">
                                            <img src="{% static 'assets/images/resources/td-img-1.jpg' %}" alt="">
                                        </div>
                                        <div class="tour-details-two__last-minute-content">
                                            <h6>$380</h6>
                                            <h5>Africa 2 Days Tour</h5>
                                            <p>Los Angeles</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tour-details-two__last-minute-image">
                                            <img src="{% static 'assets/images/resources/td-img-2.jpg' %}" alt="">
                                        </div>
                                        <div class="tour-details-two__last-minute-content">
                                            <h6>$380</h6>
                                            <h5>Africa 2 Days Tour</h5>
                                            <p>Los Angeles</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tour-details-two__last-minute-image">
                                            <img src="{% static 'assets/images/resources/td-img-3.jpg' %}" alt="">
                                        </div>
                                        <div class="tour-details-two__last-minute-content">
                                            <h6>$380</h6>
                                            <h5>Africa 2 Days Tour</h5>
                                            <p>Los Angeles</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="destinations-details__discount">
                                <img src="{% static 'assets/images/resources/destinations-details__discount-img.jpg' %}" alt="">
                                <div class="destinations-details__discount-content">
                                    <h2>30%</h2>
                                    <h4>Discount on Spain <br> Tours</h4>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!--Destinations Details End-->



     
{% include 'include/footer.html' %}
{% endblock %}
