{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %} 
      <!-- Register Form Start -->
      <div class="container">
        <div class="row">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <h1 class="h3 mb-3 fw-normal">Зарегистрироваться</h1>
          
              <div class="form-floating">
                <input type="first_name" name = "last_name" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Имя</label>
              </div>
              <div class="form-floating">
                  <input type="last_name" name = "first_name" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Фамилия</label>
                </div>
                <div class="form-floating">
                  <input type="username" name = "username" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Имя пользователя</label>
                </div> 
                <div class="form-floating">
                  <input type="password" name = "password1" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Пароль</label>
                </div>
                <div class="form-floating">
                  <input type="password" name = "password2" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Потвердите пароль</label>
                </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button> 
            </form>
        </div>
    </div>
            <div class="col-lg-6 bg-color-15 none-992 bg-img">
                <div class="info clearfix">
                    <h1>Welcome to <span>Hotel Alpha</span></h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type unknown printer took a galley of type and scrambled </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login section end -->

{% endblock %}
