{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

        <!--Tour Details Slider Start-->
        <section class="main-slider tour-details-slider">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
    "effect": "fade",
    "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
      },
    "navigation": {
        "nextEl": ".main-slider-button-next",
        "prevEl": ".main-slider-button-prev",
        "clickable": true
    },
    "autoplay": {
        "delay": 5000
    }}'>

                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!-- <div class="image-layer"
                            style="background-image: url(assets/images/backgrounds/tour-details-bg-1.jpg);"></div> -->
                            <img src="{% static 'assets/images/backgrounds/tour-details-bg-1.jpg' %}" class="image-layer" alt="">
                        <div class="container">
                            <div class="swiper-slide-inner">
                                <div class="tour-details-slider_icon">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <!-- <div class="image-layer"
                            style="background-image: url(assets/images/backgrounds/tour-details-bg-2.jpg);"></div> -->
                            <img src="{% static 'assets/images/backgrounds/tour-details-bg-2.jpg' %}" class="image-layer" alt="">
                        <div class="container">
                            <div class="swiper-slide-inner">
                                <div class="tour-details-slider_icon">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <!-- <div class="image-layer"
                            style="background-image: url(assets/images/backgrounds/tour-details-bg-3.jpg);"></div> -->
                            <img src="{% static 'assets/images/backgrounds/tour-details-bg-3.jpg' %}" class="image-layer" alt="">
                        <div class="container">
                            <div class="swiper-slide-inner">
                                <div class="tour-details-slider_icon">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-slider-nav">
                    <div class="main-slider-button-prev"><span class="icon-right-arrow"></span></div>
                    <div class="main-slider-button-next"><span class="icon-right-arrow"></span> </div>
                </div>
            </div>
        </section>
        <!--Tour Details Slider End-->

        <!--Tour Details End-->
        <section class="tour-details">
            <div class="tour-details__top">
                <div class="container">
                    <div class="row">
                        {% for tour in tour %}
                        <div class="col-xl-12">
                            <div class="tour-details__top-inner">
                                <div class="tour-details__top-left">
                                    <h2 class="tour-details__top-title">{{ tour.name}}</h2>
                                    <p class="tour-details__top-rate"><span>${{ tour.price }}</span> / на человека</p>
                                </div>
                                <div class="tour-details__top-right">
                                    <ul class="list-unstyled tour-details__top-list">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>Длительность</p>
                                                <h6>{{ tour.days}}</h6>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-user"></span>
                                            </div>
                                            <div class="text">
                                                <p>Возраст</p>
                                                <h6>{{ tour.age }} +</h6>
                                            </div>
                                        </li>
                                        <!-- <li>
                                            <div class="icon">
                                                <span class="icon-plane"></span>
                                            </div>
                                            <div class="text">
                                                <p>Tour Type</p>
                                                <h6>Adventure, Fun</h6>
                                            </div>
                                        </li>
                                        <li> -->
                                            <div class="icon">
                                                <span class="icon-place"></span>
                                            </div>
                                            <div class="text">
                                                <p>Местоположение</p>
                                                <h6>{{ tour.country }}</h6>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tour-details__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="tour-details__bottom-inner">
                                <div class="tour-details__bottom-left">
                                    <ul class="list-unstyled tour-details__bottom-list">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>Posted 2 days ago</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="text">
                                                <p>8.0 Superb</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tour-details__bottom-right">
                                    <a href="#"><i class="fas fa-share"></i>share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Tour Details End-->

        <!--Tour Details Two Start-->
        <section class="tour-details-two">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="tour-details-two__left">
                            {% for tour in tour %}
                            <div class="tour-details-two__overview">
                                <h3 class="tour-details-two__title">Oбзор</h3>
                                <p class="tour-details-two__overview-text">{{tour.description}}</p>
                                <div class="tour-details-two__overview-bottom">
                                    <h3 class="tour-details-two-overview__title">Включено/исключено</h3>
                                    <div class="tour-details-two__overview-bottom-inner">
                                        <div class="tour-details-two__overview-bottom-left">
                                            <ul class="list-unstyled tour-details-two__overview-bottom-list">
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Услуги самовывоза</p>                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>1 прием пищи в день</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Круизный ужин и музыкальное мероприятие</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Посетите 7 лучших мест в городе с группой</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tour-details-two__overview-bottom-right">
                                            <ul class="list-unstyled tour-details-two__overview-bottom-right-list">
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Дополнительные услуги</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Застраховка</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Еда & Напитки</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Билеты</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="tour-details-two__tour-plan">
                                <h3 class="tour-details-two__title">План тура</h3>
                                <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                    {% for tour_plan in tour_plan %}
                                    <div class="accrodion active">
                                        <div class="accrodion-title">
                                            <h4>{{ tour_plan.which_day }}</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>{{tour_plan.description}}</p>
                                                <ul class="list-unstyled">
                                                    <li>Бесплатные напитки</li>
                                                    <li>Потрясающий завтрак</li>
                                                    <li> 5-звездочное размещение</li>
                                                </ul>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    {% endfor %} 
                                </div>
                            </div>
                            <div class="tour-details-two__location">
                                <h3 class="tour-details-two__title">Тур-план</h3>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
                                    class="tour-details-two__location-map" allowfullscreen></iframe>
                            </div>  
                            <div class="tour-details__review-comment">
                                <div class="tour-details__review-comment-single">
                                    <div class="tour-details__review-comment-top">
                                        <div class="tour-details__review-comment-top-img">
                                            <img src="{% static 'assets/images/resources/tour-review-1-1.png' %}" alt="">
                                        </div>
                                        <div class="tour-details__review-comment-top-content">
                                            <h3>Mike Hardson</h3>
                                            <p>06 Jun, 2021</p>
                                        </div>
                                    </div>
                                    <div class="tour-details__review-comment-content">
                                        <h3>Fun Was To Discover This</h3>
                                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro
                                            est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto
                                            beatae vitae dicta sunt explicabo var lla sed sit amet finibus eros.</p>
                                    </div>
                                    <div class="tour-details__review-form-stars">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p><span>Услуги</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                                <p><span>Местоположение</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                            <div class="col-md-4">
                                                <p><span>Удобства</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                                <p><span>Цены</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                            <div class="col-md-4">
                                                <p><span>Еда</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                        </div><!-- /.row -->
                                    </div>
                                </div>

                                <div class="tour-details__review-comment-single">
                                    <div class="tour-details__review-comment-top">
                                        <div class="tour-details__review-comment-top-img">
                                            <img src="{% static 'assets/images/resources/tour-review-1-2.png' %}" alt="">
                                        </div>
                                        <div class="tour-details__review-comment-top-content">
                                            <h3>Jessica Brown</h3>
                                            <p>06 Jun, 2021</p>
                                        </div>
                                    </div>
                                    <div class="tour-details__review-comment-content">
                                        <h3>Fun Was To Discover This</h3>
                                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro
                                            est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto
                                            beatae vitae dicta sunt explicabo var lla sed sit amet finibus eros.</p>
                                    </div>
                                    <div class="tour-details__review-form-stars">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p><span>Services</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                                <p><span>Locations</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                            <div class="col-md-4">
                                                <p><span>Amenities</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                                <p><span>Prices</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                            <div class="col-md-4">
                                                <p><span>Food</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                        </div><!-- /.row -->
                                    </div>
                                </div>
                            </div>
                            <div class="tour-details__review-form">
                                <h3 class="tour-details-two__title">Написать отзыв </h3>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="tour-details__review-form-left">
                                            <form action="inc/sendemail.php" class="tour-details__review-form">
                                                <div class="tour-details__review-form-input">
                                                    <input type="text" placeholder="Ваше имя" name="name">
                                                </div>
                                                <div class="tour-details__review-form-input">
                                                    <input type="email" placeholder="Электронная почта" name="email">
                                                </div>
                                                <!-- <div class="tour-details__review-form-input">
                                                    <input type="text" placeholder="Review Title" name="review">
                                                </div> -->
                                            </form>
                                        </div>
                                    </div> 
                                <div class="tour-details__review-form-textarea">
                                    <form action="inc/sendemail.php">
                                        <textarea placeholder="Комментарий"></textarea>
                                        <button type="submit" class="thm-btn tour-details__review-form-btn"> Обзор</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="tour-details-two__sidebar">
                            <div class="tour-details-two__book-tours">
                                <h3 class="tour-details-two__sidebar-title">Бронирование</h3>
                                <form action="#" class="tour-details-two__sidebar-form">
                                    <div class="tour-details-two__sidebar-form-input">
                                        <input type="text" placeholder="Куда?" name="where to">
                                    </div>
                                    <!-- <div class="tour-details-two__sidebar-form-input">
                                        <input type="text" placeholder="When" name="When">
                                    </div> -->
                                    <!-- <div class="tour-details-two__sidebar-form-input">
                                        <select class="selectpicker" id="type">
                                            <option value="Adventure">Type</option>
                                            <option value="Adventure">Adventure</option>
                                            <option value="Wildlife">Wildlife</option>
                                            <option value="Sightseeing">Sightseeing</option>
                                        </select>
                                        <div class="tour-details-two__sidebar-form-icon">
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div> -->
                                    <div class="tour-details-two__sidebar-form-input">
                                        <input type="text" name="date" placeholder="Select date" id="datepicker">
                                        <!-- <div class="tour-details-two__sidebar-form-icon">
                                            <i class="fa fa-angle-down"></i>
                                        </div> -->
                                    </div>
                                    <!-- <div class="tour-details-two__sidebar-form-input">
                                        <select class="selectpicker">
                                            <option value="Adventure">Choose Ticket</option>
                                            <option value="Adventure">Adventure</option>
                                            <option value="Wildlife">Wildlife</option>
                                            <option value="Sightseeing">Sightseeing</option>
                                        </select>
                                        <div class="tour-details-two__sidebar-form-icon">
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div> -->
                                    <button type="submit" class="thm-btn tour-details-two__sidebar-btn">Забронировать сейчас</button>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Tour Details Two End-->

{% include 'include/footer.html' %}
{% endblock %}