{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
 
 

<!-- Sub banner start -->
<div>
    <div class="container">
        <div class="breadcrumb-area">
            <h1>{{ tour.title }}</h1>
        </div>
        <nav class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Домой</a></li>
                <li class="breadcrumb-item active">{{ tour.title }}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Rooms detail section start -->
<div class="content-area-15 rooms-detail-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="rooms-detail-info">
                    <!-- Heading courses start -->
                    <div class="heading-rooms  clearfix">
                        <div class="pull-left">
                            <h3>{{ tour.title }}</h3> 
                        </div>
                    </div>
                    <!-- Heading courses end -->

                    <!-- sidebar start -->
                    <div class="rooms-detail-slider">
                        <!--  Rooms detail slider start -->
                     
                        <div class="rooms-detail-slider mb-40">
                            <div class="slider slider-for">
                                <div><img src="{{ tour.image.url }}" class="w-100 img-fluid" alt="photo"></div> 
                            </div> 
                            <!-- {% for image in tour.tour_image.all %}
                            <div class="slider slider-nav"> 
                                <div><img src="{{ image.tour_image.url }}" class="img-fluid w-100" alt="photo"></div>  
                            </div>
                            {% endfor %} -->
                        </div>
                       
                        <!-- Rooms detail slider end -->
 
                         
                        
                        <!-- Rooms description start -->
                        <div class="tabbing tabbing-box rooms-description">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Описание</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Вас ждут</button>
                                </li> 
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="contact-tab-5" data-bs-toggle="tab" data-bs-target="#contact-5" type="button" role="tab" aria-controls="contact-5" aria-selected="false">Цены</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="contact-tab-6" data-bs-toggle="tab" data-bs-target="#contact-6" type="button" role="tab" aria-controls="contact-6" aria-selected="false">Отменить</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="contact-tab-4" data-bs-toggle="tab" data-bs-target="#contact-4" type="button" role="tab" aria-controls="contact-4" aria-selected="false">Экипировка</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active mb-50" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="accordion accordion-flush" id="accordionFlushExample7">
                                        <div class="accordion-item">
                                            <div class="rooms-description mb-50">
                                                <!-- Title -->
                                                <h3>Описание Тура</h3>
                                                <!-- paragraph -->
                                                {{ tour.description }}
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade mb-30" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="accordion accordion-flush" id="accordionFlushExample2">
                                        <div class="accordion-item">
                                            <!-- Amenities start -->
                                            <div class="amenities">
                                                <h3>Вас ждут</h3>
                                                {% for benefit in benefits %}
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                                        <ul class="condition">
                                                            <li>
                                                                <i class="flaticon-mountains"></i>{{ benefit.title }}
                                                            </li> 
                                                        </ul>
                                                    </div>  
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <!-- Amenities end -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade mb-50" id="contact-5" role="tabpanel" aria-labelledby="contact-tab-5">
                                    <div class="accordion accordion-flush" id="accordionFlushExample5">
                                        <div class="accordion-item">
                                            <!-- Pricing plans start -->
                                            <div class="pricing-table">
                                                <h3>Цены</h3>
                                                {% for price in price %}
                                                <table class="table-responsive pricing-wrap">
                                                    <thead>
                                                    <tr>
                                                        <th>{{ price.date }}</th> 
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>{{ price.price }} сом</td> 
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                {% endfor %}
                                            </div>
                                            <!-- Pricing plans end -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade mb-50" id="contact-6" role="tabpanel" aria-labelledby="contact-tab-6">
                                    <div class="accordion accordion-flush" id="accordionFlushExample6">
                                        <div class="accordion-item">
                                            <!-- Cancellation start  -->
                                            <div class="cancellation">
                                                <h3>Отмена</h3>
                                                <p>
                                                    Phasellus volutpat neque a tellus venenatis, a euismod augue facilisis. Fusce ut metus
                                                    mattis, consequat metus nec, luctus lectus. Pellentesque orci quis hendrerit sed eu
                                                    dolor. <strong>Cancel up</strong> to <strong>21 days</strong> to get a full refund.
                                                </p>
                                            </div>
                                            <!-- Cancellation end -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade mb-50" id="contact-4" role="tabpanel" aria-labelledby="contact-tab-4">
                                    <div class="accordion accordion-flush" id="accordionFlushExample4">
                                        <div class="accordion-item">
                                            <!-- Extra service start  -->
                                            <div class="extra-service">
                                                <h3>Экипировка</h3>
                                                {% for eq in benefits %}
                                                <div class="extra-service-item">
                                                    <p class="tag-item-name">{{ eq.equipment }} </p>  
                                                </div>
                                                {% endfor %} 
                                            </div>
                                            <!-- Extra service end  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Rooms description end -->
                    </div>
                    <!-- sidebar end -->

                    <!-- Comments section start -->
                    <div class="comments-section">
                        <!-- Main Title 2 -->
                        <div class="main-title-2">
                            <h1>Отзывы</h1>
                        </div>
                        
                        <ul class="comments mb-50">
                            <li>
                                {% for comment in tour.comment.all %}
                                <div class="comment">
                                    {% if users.profile_image %}
                                    <div class="comment-author">
                                        <a href="#">
                                            <img src="{{ users.profile_image.url }}" alt="avatar">
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="reviews__comment--thumbnail">
                                        <img src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482930.jpg" alt="comment-thumbnail">
                                    </div>
                                    {% endif %}
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <div class="comment-meta-author">
                                                {{ comment.user }}
                                            </div>
                                            <div class="comment-meta-reply">
                                                <a href="#">Reply</a>
                                            </div>
                                            <div class="comment-meta-date">
                                                <span>{{ comment.created }}</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="comment-body">
                                            <div class="comment-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <span>(Reting)</span>
                                            </div>
                                            <p>{{ comment.message }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %} 
                            </li>
                        </ul>
                    </div>
                    <!-- Comments section end -->

                    <!-- Contact 2 start -->
                    <div class="contact-2 c-mb">
                        <div class="main-title-2">
                            <h1>Оставьте свой отзыв</h1>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Contact form start -->
                                {% if user.is_authenticated %}
                                <div class="card-footer p-0 d-flex">
                                    <form method="post" class="form-control">
                                        {% csrf_token %}
                                        <input type="hidden" name="tour_id" value="{{ tour.id }}">
                                        <input type="text" name="comment_message" class="form-control"
                                               placeholder="Оставьте комментарии..." style="width: 400px; height: 200px;">
                                        <button type="submit" name="comment" class="btn btn-danger">
                                            Комментарии
                                        </button>
                                    </form>
                                </div>
                                {% else %}
                                <div class="card-footer p-0 d-flex">
                                    <h4>Зарегистрируйтесь чтобы оставлять комментарии</h4>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Contact-2 end -->
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-xs-12">
                <div class="sidebar">
                    <!-- Search area box 3 start -->
                    <!-- <div class="sidebar-widget search-area-box-3 clearfix">
                        <h3>Check Availability</h3>
                        <h4 class="price">$260/Night</h4>
                        <div class="search-contents">
                            <form method="GET">
                                <div class="search-your-details">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="btn-default datepicker" placeholder="Check In">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="btn-default datepicker" placeholder="Check Out">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="room">
                                                    <option>Room</option>
                                                    <option>Single Room</option>
                                                    <option>Double Room</option>
                                                    <option>Deluxe Room</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="beds">
                                                    <option>Beds</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="adults">
                                                    <option>Adult</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="children">
                                                    <option>Child</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group mb-0">
                                                <button type="submit" class="btn-md btn-theme btn-4 btn-7 w-100">Book Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> -->
                    <!-- Recent News start -->
                    <div class="sidebar-widget recent-news">
                        <div class="main-title-2">
                            <h1>Recent Posts</h1>
                        </div>
                        {% for tour in random_tours %}
                        <div class="recent-news-item mb-3">
                            <div class="thumb">
                                <a href="{% url 'tour_detail' tour.id %}">
                                    <img src="{{ tour.image.url}}" alt="small-img">
                                </a>
                            </div>
                            <div class="content">
                                <h3 class="media-heading">
                                    <a href="{% url 'tour_detail' tour.id %}">{{ tour.title }}</a>
                                </h3>
                                {% for price in price %}
                                <div class="listing-post-meta">
                                    {{ price.price }} сом| <a href="#"><i class="fa fa-calendar"></i> {{ price.date }}</a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %} 
                    </div> 
                    <!-- Social media start -->
                    <div class="social-media sidebar-widget clearfix">
                        <!-- Main Title 2 -->
                        <div class="main-title-2">
                            <h1>Social Media</h1>
                        </div>
                        <!-- Social list -->
                        <ul class="social-list">
                            <li><a href="{{ home.facebook}}" class="facebook-bg" style="background-color: rgb(120, 120, 206);"><i class="fa fa-facebook"></i></a>Facebook</li>
                            <li><a href="{{ home.twitter}}" class="twitter-bg" style="background-color: rgb(20, 20, 203) ;"><i class="fa fa-twitter"></i></a>Twitter</li>
                            <li><a href="{{home.instagram}}" class="instagram-bg" style="background-color:rgb(240, 68, 10) ;"><i class="fa fa-instagram"></i></a>Instagram</li> 
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rooms detail section end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Become An Instructor</h3>
                    <p>Join thousand of instructors and earn money hassle free</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="contact.html" class="button btn-3">Связаться с нами</a>
            </div>
        </div>
    </div>
</div>
<!-- intro section end -->

 
{% include 'include/footer.html' %}
{% endblock %}