{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

        <!--Tours List Start-->
        <section class="tours-list">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="tours-list__left">
                            <div class="tours-list__sidebar">
                                <div class="tours-list__sidebar-search">
                                    <h3 class="tours-list__sidebar-search-title">Поиск туров</h3>
                                    <form class="tours-list__sidebar-form">
                                        <div class="tours-list__sidebar-input">
                                            <input type="text" placeholder="Куда?" name="where to">
                                        </div>
                                        <!-- <div class="tours-list__sidebar-input">
                                            <input type="text" placeholder="When" name="when">
                                        </div> -->
                                        <!-- <div class="tours-list__sidebar-input">
                                            <select class="selectpicker" id="type">
                                                <option value="Adventure">Type</option>
                                                <option value="Adventure">Adventure</option>
                                                <option value="Wildlife">Wildlife</option>
                                                <option value="Sightseeing">Sightseeing</option>
                                            </select>
                                        </div> -->
                                        <button type="submit" class="thm-btn tours-list__sidebar-btn">search</button>
                                    </form>
                                </div>
                                <div class="tour-sidebar__sorter-wrap">

                                    <div class="tour-sidebar__sorter-single">
                                        <div class="tour-sidebar__sorter-top">
                                            <h3>Price</h3>
                                            <button class="tour-sidebar__sorter-toggler"></button>

                                        </div>
                                        <div class="tour-sidebar__sorter-content">
                                            <div class="tour-sidebar__price-range">
                                                <div class="form-group">
                                                    <p>$<span id="min-value-rangeslider"></span></p>
                                                    <p>$<span id="max-value-rangeslider"></span></p>
                                                </div>
                                                <div class="range-slider-price" id="range-slider-price"></div>
                                            </div>

                                        </div>
                                    </div>

                                   

<!--                                    
                                    <div class="tour-sidebar__sorter-single">
                                        <div class="tour-sidebar__sorter-top">
                                            <h3>Duration</h3>
                                            <button class="tour-sidebar__sorter-toggler"></button>

                                        </div>
                                        <div class="tour-sidebar__sorter-content">

                                            <div class="tour-sidebar__sorter-inputs">
                                                <p>
                                                    <input type="checkbox" id="duration-5" name="radio-group">
                                                    <label for="duration-5">
                                                        0 - 24 hours
                                                    </label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="duration-4" name="radio-group">
                                                    <label for="duration-4">1 - 2 days

                                                    </label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="duration-3" name="radio-group">
                                                    <label for="duration-3">2 - 3 days

                                                    </label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="duration-2" name="radio-group">
                                                    <label for="duration-2">4 - 5 days


                                                    </label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="duration-1" name="radio-group">
                                                    <label for="duration-1">
                                                        5 - 10 days
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="tours-list__right">
                            <div class="tours-list__inner">
                                <!--Tours List Single-->
                                {% for tour in tour %}
                                <div class="tours-list__single">
                                    <div class="tours-list__img">
                                        <img src="{{ tour.image.url }}" alt="">
                                        <div class="tours-list__icon">
                                            <a href="tour-details.html">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tours-list__content">
                                        <div class="tours-list__stars">
                                            <i class="fa fa-star"></i> 8.0 Superb
                                        </div>
                                        <h3 class="tours-list__title"><a href="{% url 'tour_plan' tour.id %}">{{ tour.name}}</a></h3>
                                        <p class="tours-list__rate"><span>${{ tour.price }}</span> / на человека</p>
                                        <p class="tours-list__text">{{tour.descriptions}}</p>
                                        <ul class="tours-list__meta list-unstyled">
                                            <li><a href="tour-details.html"><i class="far fa-calendar"></i>{{ tour.days}}</a>
                                            </li>
                                            <li><a href="tour-details.html"><i class="far fa-user-circle"></i>{{tour.age}}+</a>
                                            </li>
                                            <li><a href="tour-details.html"><i class="far fa-map"></i> {{ tour.country }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Tours List End-->

{% include 'include/footer.html' %}
{% endblock %}