{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

        <!--Tour Details Slider Start-->
        <section class="main-slider tour-details-slider">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
    "effect": "fade",
    "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
      },
    "navigation": {
        "nextEl": ".main-slider-button-next",
        "prevEl": ".main-slider-button-prev",
        "clickable": true
    },
    "autoplay": {
        "delay": 5000
    }}'>

                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!-- <div class="image-layer"
                            style="background-image: url(assets/images/backgrounds/tour-details-bg-1.jpg);"></div> -->
                            <img src="{% static 'assets/images/backgrounds/tour-details-bg-1.jpg' %}" class="image-layer" alt="">
                        <div class="container">
                            <div class="swiper-slide-inner">
                                <div class="tour-details-slider_icon">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <!-- <div class="image-layer"
                            style="background-image: url(assets/images/backgrounds/tour-details-bg-2.jpg);"></div> -->
                            <img src="{% static 'assets/images/backgrounds/tour-details-bg-2.jpg' %}" class="image-layer" alt="">
                        <div class="container">
                            <div class="swiper-slide-inner">
                                <div class="tour-details-slider_icon">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <!-- <div class="image-layer"
                            style="background-image: url(assets/images/backgrounds/tour-details-bg-3.jpg);"></div> -->
                            <img src="{% static 'assets/images/backgrounds/tour-details-bg-3.jpg' %}" class="image-layer" alt="">
                        <div class="container">
                            <div class="swiper-slide-inner">
                                <div class="tour-details-slider_icon">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-slider-nav">
                    <div class="main-slider-button-prev"><span class="icon-right-arrow"></span></div>
                    <div class="main-slider-button-next"><span class="icon-right-arrow"></span> </div>
                </div>
            </div>
        </section>
        <!--Tour Details Slider End-->

        <!--Tour Details End-->
        <section class="tour-details">
            <div class="tour-details__top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="tour-details__top-inner">
                                <div class="tour-details__top-left">
                                    <h2 class="tour-details__top-title">National Park 2 Days Tour</h2>
                                    <p class="tour-details__top-rate"><span>$870</span> / Per Person</p>
                                </div>
                                <div class="tour-details__top-right">
                                    <ul class="list-unstyled tour-details__top-list">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>Duration</p>
                                                <h6>3 Days</h6>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-user"></span>
                                            </div>
                                            <div class="text">
                                                <p>Min Age</p>
                                                <h6>12 +</h6>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-plane"></span>
                                            </div>
                                            <div class="text">
                                                <p>Tour Type</p>
                                                <h6>Adventure, Fun</h6>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-place"></span>
                                            </div>
                                            <div class="text">
                                                <p>Location</p>
                                                <h6>Los Angeles</h6>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tour-details__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="tour-details__bottom-inner">
                                <div class="tour-details__bottom-left">
                                    <ul class="list-unstyled tour-details__bottom-list">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>Posted 2 days ago</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="text">
                                                <p>8.0 Superb</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tour-details__bottom-right">
                                    <a href="#"><i class="fas fa-share"></i>share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Tour Details End-->

        <!--Tour Details Two Start-->
        <section class="tour-details-two">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="tour-details-two__left">
                            <div class="tour-details-two__overview">
                                <h3 class="tour-details-two__title">Overview</h3>
                                <p class="tour-details-two__overview-text">Lorem ipsum available isn but the majority
                                    have suffered alteratin in some or form injected simply free text used by copytyping
                                    refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et
                                    quasi architecto beatae vitae dicta sunt explicabo. Lorem ipsum is simply free text
                                    used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed
                                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes
                                    port lacus quis enim var sed efficitur turpis gilla sed sit amet finibus eros.</p>
                                <div class="tour-details-two__overview-bottom">
                                    <h3 class="tour-details-two-overview__title">Included/Exclude</h3>
                                    <div class="tour-details-two__overview-bottom-inner">
                                        <div class="tour-details-two__overview-bottom-left">
                                            <ul class="list-unstyled tour-details-two__overview-bottom-list">
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Pick and Drop Services</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>1 Meal Per Day</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Cruise Dinner & Music Event</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Visit 7 Best Places in the City With Group</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tour-details-two__overview-bottom-right">
                                            <ul class="list-unstyled tour-details-two__overview-bottom-right-list">
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Additional Services</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Insurance</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Food & Drinks</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Tickets</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour-details-two__tour-plan">
                                <h3 class="tour-details-two__title">Tour Plan</h3>
                                <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                    <div class="accrodion active">
                                        <div class="accrodion-title">
                                            <h4><span>Day 1</span> Arrive South Africa Forest</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>There are many variations of passages of available but majority have
                                                    alteration in some by inject humour or random words. Lorem ipsum
                                                    dolor sit amet, error insolens reprimique no quo, ea pri verterem
                                                    phaedr vel ea iisque aliquam.</p>
                                                <ul class="list-unstyled">
                                                    <li>Free Drinks</li>
                                                    <li>Awesome Breakfast</li>
                                                    <li>5 Star Accommodation</li>
                                                </ul>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4><span>Day 2</span> Lunch Inside of Forest & Adventure</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>There are many variations of passages of available but majority have
                                                    alteration in some by inject humour or random words. Lorem ipsum
                                                    dolor sit amet, error insolens reprimique no quo, ea pri verterem
                                                    phaedr vel ea iisque aliquam.</p>
                                                <ul class="list-unstyled">
                                                    <li>Free Drinks</li>
                                                    <li>Awesome Breakfast</li>
                                                    <li>5 Star Accommodation</li>
                                                </ul>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion last-chiled">
                                        <div class="accrodion-title">
                                            <h4><span>Day 3</span> Depart from South Africa</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>There are many variations of passages of available but majority have
                                                    alteration in some by inject humour or random words. Lorem ipsum
                                                    dolor sit amet, error insolens reprimique no quo, ea pri verterem
                                                    phaedr vel ea iisque aliquam.</p>
                                                <ul class="list-unstyled">
                                                    <li>Free Drinks</li>
                                                    <li>Awesome Breakfast</li>
                                                    <li>5 Star Accommodation</li>
                                                </ul>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour-details-two__location">
                                <h3 class="tour-details-two__title">Tour Plan</h3>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
                                    class="tour-details-two__location-map" allowfullscreen></iframe>
                            </div>
                            <div class="tour-details-two__related-tours">
                                <h3 class="tour-details-two__title">Tour Plan</h3>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <!--Popular Tours Two Single-->
                                        <div class="popular-tours__single">
                                            <div class="popular-tours__img">
                                                <img src="{% static 'assets/images/resources/popular-tours-two__img-1.jpg' %}" alt="">
                                                <div class="popular-tours__icon">
                                                    <a href="tour-details.html">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="popular-tours__content">
                                                <div class="popular-tours__stars">
                                                    <i class="fa fa-star"></i> 8.0 Superb
                                                </div>
                                                <h3 class="popular-tours__title"><a href="tour-details.html">National
                                                        Park 2 Days Tour</a></h3>
                                                <p class="popular-tours__rate"><span>$1870</span> / Per Person</p>
                                                <ul class="popular-tours__meta list-unstyled">
                                                    <li><a href="tour-details.html">3 Days</a></li>
                                                    <li><a href="tour-details.html">12+</a></li>
                                                    <li><a href="tour-details.html">Los Angeles</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <!--Popular Tours Two Single-->
                                        <div class="popular-tours__single">
                                            <div class="popular-tours__img">
                                                <img src="{% static 'assets/images/resources/popular-tours-two__img-5.jpg' %}" alt="">
                                                <div class="popular-tours__icon">
                                                    <a href="tour-details.html">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="popular-tours__content">
                                                <div class="popular-tours__stars">
                                                    <i class="fa fa-star"></i> 8.0 Superb
                                                </div>
                                                <h3 class="popular-tours__title"><a href="tour-details.html">National
                                                        Park 2 Days Tour</a></h3>
                                                <p class="popular-tours__rate"><span>$1870</span> / Per Person</p>
                                                <ul class="popular-tours__meta list-unstyled">
                                                    <li><a href="tour-details.html">3 Days</a></li>
                                                    <li><a href="tour-details.html">12+</a></li>
                                                    <li><a href="tour-details.html">Los Angeles</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="tour-details-two__title review-scores__title">Review Scores</h3>
                            <div class="tour-details__review-score">
                                <div class="tour-details__review-score-ave">
                                    <div class="my-auto">
                                        <h3>7.0</h3>
                                        <p><i class="fa fa-star"></i> Super</p>
                                    </div>
                                </div>
                                <div class="tour-details__review-score__content">
                                    <!--Tour Details Review Score Bar-->
                                    <div class="tour-details__review-score__bar">
                                        <div class="tour-details__review-score__bar-top">
                                            <h3>Services</h3>
                                            <p>50%</p>

                                        </div>
                                        <div class="tour-details__review-score__bar-line">
                                            <span class="wow slideInLeft" data-wow-duration="1500ms"
                                                style="width: 50%;"></span>
                                        </div>
                                    </div>
                                    <!--Tour Details Review Score Bar-->
                                    <div class="tour-details__review-score__bar">
                                        <div class="tour-details__review-score__bar-top">
                                            <h3>Locations</h3>
                                            <p>87%</p>

                                        </div>
                                        <div class="tour-details__review-score__bar-line">
                                            <span class="wow slideInLeft" data-wow-duration="1500ms"
                                                style="width: 87%;"></span>
                                        </div>
                                    </div>
                                    <!--Tour Details Review Score Bar-->
                                    <div class="tour-details__review-score__bar">
                                        <div class="tour-details__review-score__bar-top">
                                            <h3>Amenities</h3>
                                            <p>77%</p>

                                        </div>
                                        <div class="tour-details__review-score__bar-line">
                                            <span class="wow slideInLeft" data-wow-duration="1500ms"
                                                style="width: 77%;"></span>
                                        </div>
                                    </div>
                                    <!--Tour Details Review Score Bar-->
                                    <div class="tour-details__review-score__bar">
                                        <div class="tour-details__review-score__bar-top">
                                            <h3>Prices</h3>
                                            <p>69%</p>

                                        </div>
                                        <div class="tour-details__review-score__bar-line">
                                            <span class="wow slideInLeft" data-wow-duration="1500ms"
                                                style="width: 69%;"></span>
                                        </div>
                                    </div>
                                    <!--Tour Details Review Score Bar-->
                                    <div class="tour-details__review-score__bar">
                                        <div class="tour-details__review-score__bar-top">
                                            <h3>Food</h3>
                                            <p>40%</p>

                                        </div>
                                        <div class="tour-details__review-score__bar-line">
                                            <span class="wow slideInLeft" data-wow-duration="1500ms"
                                                style="width: 40%;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour-details__review-comment">
                                <div class="tour-details__review-comment-single">
                                    <div class="tour-details__review-comment-top">
                                        <div class="tour-details__review-comment-top-img">
                                            <img src="{% static 'assets/images/resources/tour-review-1-1.png' %}" alt="">
                                        </div>
                                        <div class="tour-details__review-comment-top-content">
                                            <h3>Mike Hardson</h3>
                                            <p>06 Jun, 2021</p>
                                        </div>
                                    </div>
                                    <div class="tour-details__review-comment-content">
                                        <h3>Fun Was To Discover This</h3>
                                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro
                                            est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto
                                            beatae vitae dicta sunt explicabo var lla sed sit amet finibus eros.</p>
                                    </div>
                                    <div class="tour-details__review-form-stars">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p><span>Services</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                                <p><span>Locations</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                            <div class="col-md-4">
                                                <p><span>Amenities</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                                <p><span>Prices</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                            <div class="col-md-4">
                                                <p><span>Food</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                        </div><!-- /.row -->
                                    </div>
                                </div>

                                <div class="tour-details__review-comment-single">
                                    <div class="tour-details__review-comment-top">
                                        <div class="tour-details__review-comment-top-img">
                                            <img src="{% static 'assets/images/resources/tour-review-1-2.png' %}" alt="">
                                        </div>
                                        <div class="tour-details__review-comment-top-content">
                                            <h3>Jessica Brown</h3>
                                            <p>06 Jun, 2021</p>
                                        </div>
                                    </div>
                                    <div class="tour-details__review-comment-content">
                                        <h3>Fun Was To Discover This</h3>
                                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro
                                            est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto
                                            beatae vitae dicta sunt explicabo var lla sed sit amet finibus eros.</p>
                                    </div>
                                    <div class="tour-details__review-form-stars">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p><span>Services</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                                <p><span>Locations</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                            <div class="col-md-4">
                                                <p><span>Amenities</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                                <p><span>Prices</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                            <div class="col-md-4">
                                                <p><span>Food</span> <i class="fa fa-star active"></i><i
                                                        class="fa fa-star active"></i><i class="fa fa-star "></i><i
                                                        class="fa fa-star "></i><i class="fa fa-star "></i></p>
                                            </div><!-- /.col-md-4 -->
                                        </div><!-- /.row -->
                                    </div>
                                </div>
                            </div>
                            <div class="tour-details__review-form">
                                <h3 class="tour-details-two__title">Write a Review</h3>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="tour-details__review-form-left">
                                            <form action="inc/sendemail.php" class="tour-details__review-form">
                                                <div class="tour-details__review-form-input">
                                                    <input type="text" placeholder="Your Name" name="name">
                                                </div>
                                                <div class="tour-details__review-form-input">
                                                    <input type="email" placeholder="Email Address" name="email">
                                                </div>
                                                <div class="tour-details__review-form-input">
                                                    <input type="text" placeholder="Review Title" name="review">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="tour-details__review-form-rate">
                                            <div class="tour-details__review-form-rate-single">
                                                <div class="tour-details__review-form-rate-left">
                                                    <span>Services</span>
                                                </div>
                                                <div class="tour-details__review-form-rate-right">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star "></i>
                                                    <i class="fa fa-star "></i>
                                                </div>
                                            </div>
                                            <div class="tour-details__review-form-rate-single">
                                                <div class="tour-details__review-form-rate-left">
                                                    <span>Locations</span>
                                                </div>
                                                <div class="tour-details__review-form-rate-right">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star "></i>
                                                    <i class="fa fa-star "></i>
                                                </div>
                                            </div>
                                            <div class="tour-details__review-form-rate-single">
                                                <div class="tour-details__review-form-rate-left">
                                                    <span>Amenities</span>
                                                </div>
                                                <div class="tour-details__review-form-rate-right">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star "></i>
                                                    <i class="fa fa-star "></i>
                                                </div>
                                            </div>
                                            <div class="tour-details__review-form-rate-single">
                                                <div class="tour-details__review-form-rate-left">
                                                    <span>Prices</span>
                                                </div>
                                                <div class="tour-details__review-form-rate-right">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star "></i>
                                                    <i class="fa fa-star "></i>
                                                </div>
                                            </div>
                                            <div class="tour-details__review-form-rate-single">
                                                <div class="tour-details__review-form-rate-left">
                                                    <span>Food</span>
                                                </div>
                                                <div class="tour-details__review-form-rate-right">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star "></i>
                                                    <i class="fa fa-star "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tour-details__review-form-textarea">
                                    <form action="inc/sendemail.php">
                                        <textarea placeholder="Write Comment"></textarea>
                                        <button type="submit" class="thm-btn tour-details__review-form-btn">Submit
                                            Review</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="tour-details-two__sidebar">
                            <div class="tour-details-two__book-tours">
                                <h3 class="tour-details-two__sidebar-title">Book Tours</h3>
                                <form action="#" class="tour-details-two__sidebar-form">
                                    <div class="tour-details-two__sidebar-form-input">
                                        <input type="text" placeholder="Where to" name="where to">
                                    </div>
                                    <div class="tour-details-two__sidebar-form-input">
                                        <input type="text" placeholder="When" name="When">
                                    </div>
                                    <div class="tour-details-two__sidebar-form-input">
                                        <select class="selectpicker" id="type">
                                            <option value="Adventure">Type</option>
                                            <option value="Adventure">Adventure</option>
                                            <option value="Wildlife">Wildlife</option>
                                            <option value="Sightseeing">Sightseeing</option>
                                        </select>
                                        <div class="tour-details-two__sidebar-form-icon">
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <div class="tour-details-two__sidebar-form-input">
                                        <input type="text" name="date" placeholder="Select date" id="datepicker">
                                        <div class="tour-details-two__sidebar-form-icon">
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <div class="tour-details-two__sidebar-form-input">
                                        <select class="selectpicker">
                                            <option value="Adventure">Choose Ticket</option>
                                            <option value="Adventure">Adventure</option>
                                            <option value="Wildlife">Wildlife</option>
                                            <option value="Sightseeing">Sightseeing</option>
                                        </select>
                                        <div class="tour-details-two__sidebar-form-icon">
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <button type="submit" class="thm-btn tour-details-two__sidebar-btn">Book
                                        Now</button>
                                </form>
                            </div>
                            <div class="tour-details-two__last-minute">
                                <h3 class="tour-details-two__sidebar-title">Last Minute</h3>
                                <ul class="tour-details-two__last-minute-list list-unstyled">
                                    <li>
                                        <div class="tour-details-two__last-minute-image">
                                            <img src="{% static 'assets/images/resources/td-img-1.jpg' %}" alt=""></div>
                                        <div class="tour-details-two__last-minute-content">
                                            <h6>$380</h6>
                                            <h5>Africa 2 Days Tour</h5>
                                            <p>Los Angeles</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tour-details-two__last-minute-image">
                                            <img src="{% static 'assets/images/resources/td-img-2.jpg' %}" alt=""></div>
                                        <div class="tour-details-two__last-minute-content">
                                            <h6>$380</h6>
                                            <h5>Africa 2 Days Tour</h5>
                                            <p>Los Angeles</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tour-details-two__last-minute-image">
                                            <img src="{% static 'assets/images/resources/td-img-3.jpg' %}" alt=""></div>
                                        <div class="tour-details-two__last-minute-content">
                                            <h6>$380</h6>
                                            <h5>Africa 2 Days Tour</h5>
                                            <p>Los Angeles</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Tour Details Two End-->

{% include 'include/footer.html' %}
{% endblock %}