{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
 

<!-- Sidenav start -->
<nav id="sidebar" class="nav-sidebar sidebar-heading-section">
    <!-- Close btn-->
    <div id="dismiss">
        <i class="fa fa-close"></i>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <img src="img/logos/logo.png" alt="sidebarlogo">
        </div>
        <div class="sidebar-navigation">
            <h3 class="heading">Pages</h3>
            <ul class="menu-list">
                <li><a href="#" class="pt0">Index <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a href="index.html">Index 1</a></li>
                        <li><a href="index-2.html">Index 2</a></li>
                        <li><a href="index-3.html">Index 3</a></li>
                        <li><a href="index-4.html">Index 4</a></li>
                    </ul>
                </li>
                <li><a href="#" class="active">Rooms <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a href="rooms-col-1.html">1 Column</a></li>
                        <li><a href="rooms-col-2.html">2 Column</a></li>
                        <li><a href="rooms-col-3.html">3 Column</a></li>
                        <li><a href="rooms-details.html">Rooms Details</a></li>
                        <li><a href="rooms-details-2.html">Rooms Details 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Pages <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li>
                            <a href="#">About Us<em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="about-2.html">About Us 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Gallery<em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a href="gallery-3column.html">Gallery 3 Column</a></li>
                                <li><a href="gallery-4column.html">Gallery 4 Column</a></li>
                                <li><a href="gallery-masonry.html">Gallery Masonry</a></li>
                            </ul>
                        </li>
                        <li><a href="booking-system.html">Booking System</a></li>
                        <li>
                            <a href="#">Staff <em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a href="staff.html">Staff</a></li>
                                <li><a href="staff-2.html">Staff 2</a></li>
                                <li><a href="staff-3.html">Staff 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Events <em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="events-right-sidebar.html">Events Right Sidebar</a></li>
                                <li><a href="events-details.html">Events Details</a></li>
                            </ul>
                        </li>
                        <li><a href="pricing-tables.html">Pricing Tables</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">Signup</a></li>
                        <li><a href="forgot-password.html">Forgot Password</a></li>
                        <li><a href="404.html">404 Error</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="contact-2.html">Contact 2</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                        <li><a href="blog-full-width.html">Blog Fullwidth</a></li>
                        <li><a href="blog-creative.html">Blog Creative</a></li>
                        <li><a href="blog-details.html">Blog Detail</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="get-in-touch">
            <h3 class="heading">Get in Touch</h3>
            <div class="sidebar-contact-info">
                <div class="icon">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="body-info">
                    <a href="tel:0477-0477-8556-552">0477 8556 552</a>
                </div>
            </div>
            <div class="sidebar-contact-info">
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="body-info">
                    <a href="#">info@themevessel.com</a>
                </div>
            </div>
            <div class="sidebar-contact-info mb-0">
                <div class="icon">
                    <i class="fa fa-fax"></i>
                </div>
                <div class="body-info">
                    <a href="tel:0477-0477-8556-552">0266 8556 787</a>
                </div>
            </div>
        </div>
        <div class="get-social">
            <h3 class="heading">Get Social</h3>
            <a href="#" class="facebook-bg">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="twitter-bg">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="google-bg">
                <i class="fa fa-google"></i>
            </a>
            <a href="#" class="linkedin-bg">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
    </div>
</nav>
<!-- Sidenav end -->

<!-- Sub banner start -->
<div>
    <div class="container">
        <div class="breadcrumb-area">
            <h1>{{ tour.title }}</h1>
        </div>
        <nav class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Домой</a></li>
                <li class="breadcrumb-item active">{{ tour.title }}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Rooms detail section start -->
<div class="content-area-15 rooms-detail-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="rooms-detail-info">
                    <!-- Heading courses start -->
                    <div class="heading-rooms  clearfix">
                        <div class="pull-left">
                            <h3>{{ tour.title }}</h3>
                            <p>
                                <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                            </p>
                        </div>
                        <div class="pull-right">
                            <h3><span>$260.00</span></h3>
                            <h5>Per Manth</h5>
                        </div>
                    </div>
                    <!-- Heading courses end -->

                    <!-- sidebar start -->
                    <div class="rooms-detail-slider">
                        <!--  Rooms detail slider start -->
                        <div class="rooms-detail-slider mb-40">
                            <div class="slider slider-for">
                                <div><img src="{{ tour.image.url }}" class="w-100 img-fluid" alt="photo"></div>
                                <div><img src="{% static 'img/room/img-1.jpg' %}" class="w-100 img-fluid" alt="photo"></div>
                                <div><img src="{% static 'img/room/img-5.jpg' %}" class="w-100 img-fluid" alt="photo"></div>
                                <div><img src="{% static 'img/room/img-6.jpg' %}" class="w-100 img-fluid" alt="photo"></div>
                                <div><img src="{% static 'img/room/img-3.jpg' %}" class="w-100 img-fluid" alt="photo"></div>
                            </div>
                            <div class="slider slider-nav">
                                <div><img src="{% static 'img/room/img-2.jpg' %}" class="img-fluid" alt="photo"></div>
                                <div><img src="{% static 'img/room/img-1.jpg' %}" class="img-fluid" alt="photo"></div>
                                <div><img src="{% static 'img/room/img-5.jpg' %}" class="img-fluid" alt="photo"></div>
                                <div><img src="{% static 'img/room/img-6.jpg' %}" class="img-fluid" alt="photo"></div>
                                <div><img src="{% static 'img/room/img-3.jpg' %}" class="img-fluid" alt="photo"></div>
                            </div>
                        </div>
                        <!-- Rooms detail slider end -->
                        
                        <!-- Rooms description start -->
                        <div class="tabbing tabbing-box rooms-description">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Описание</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Вас ждут</button>
                                </li> 
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="contact-tab-5" data-bs-toggle="tab" data-bs-target="#contact-5" type="button" role="tab" aria-controls="contact-5" aria-selected="false">Pricing Plans</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="contact-tab-6" data-bs-toggle="tab" data-bs-target="#contact-6" type="button" role="tab" aria-controls="contact-6" aria-selected="false">Cancellation</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="contact-tab-4" data-bs-toggle="tab" data-bs-target="#contact-4" type="button" role="tab" aria-controls="contact-4" aria-selected="false">Экипировка</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active mb-50" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="accordion accordion-flush" id="accordionFlushExample7">
                                        <div class="accordion-item">
                                            <div class="rooms-description mb-50">
                                                <!-- Title -->
                                                <h3>Описание Тура</h3>
                                                <!-- paragraph -->
                                                {{ tour.description }}
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade mb-30" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="accordion accordion-flush" id="accordionFlushExample2">
                                        <div class="accordion-item">
                                            <!-- Amenities start -->
                                            <div class="amenities">
                                                <h3>Вас ждут</h3>
                                                {% for benefit in benefits %}
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                                        <ul class="condition">
                                                            <li>
                                                                <i class="flaticon-mountains"></i>{{ benefit.title }}
                                                            </li> 
                                                        </ul>
                                                    </div>  
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <!-- Amenities end -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade mb-50" id="contact-5" role="tabpanel" aria-labelledby="contact-tab-5">
                                    <div class="accordion accordion-flush" id="accordionFlushExample5">
                                        <div class="accordion-item">
                                            <!-- Pricing plans start -->
                                            <div class="pricing-table">
                                                <h3>Pricing Plans</h3>
                                                <table class="table-responsive pricing-wrap">
                                                    <thead>
                                                    <tr>
                                                        <th>Mon</th>
                                                        <th>Tue</th>
                                                        <th>Wed</th>
                                                        <th>Thu</th>
                                                        <th>Fri</th>
                                                        <th>Sat</th>
                                                        <th>Sun</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>$250</td>
                                                        <td>$250</td>
                                                        <td>$250</td>
                                                        <td>$250</td>
                                                        <td>$250</td>
                                                        <td>$250</td>
                                                        <td>$250</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Pricing plans end -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade mb-50" id="contact-6" role="tabpanel" aria-labelledby="contact-tab-6">
                                    <div class="accordion accordion-flush" id="accordionFlushExample6">
                                        <div class="accordion-item">
                                            <!-- Cancellation start  -->
                                            <div class="cancellation">
                                                <h3>Отмена</h3>
                                                <p>
                                                    Phasellus volutpat neque a tellus venenatis, a euismod augue facilisis. Fusce ut metus
                                                    mattis, consequat metus nec, luctus lectus. Pellentesque orci quis hendrerit sed eu
                                                    dolor. <strong>Cancel up</strong> to <strong>21 days</strong> to get a full refund.
                                                </p>
                                            </div>
                                            <!-- Cancellation end -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade mb-50" id="contact-4" role="tabpanel" aria-labelledby="contact-tab-4">
                                    <div class="accordion accordion-flush" id="accordionFlushExample4">
                                        <div class="accordion-item">
                                            <!-- Extra service start  -->
                                            <div class="extra-service">
                                                <h3>Экипировка</h3>
                                                {% for eq in benefits %}
                                                <div class="extra-service-item">
                                                    <p class="tag-item-name">{{ eq.equipment }} </p>  
                                                </div>
                                                {% endfor %} 
                                            </div>
                                            <!-- Extra service end  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Rooms description end -->
                    </div>
                    <!-- sidebar end -->

                    <!-- Comments section start -->
                    <div class="comments-section">
                        <!-- Main Title 2 -->
                        <div class="main-title-2">
                            <h1>Room Reviews</h1>
                        </div>

                        <ul class="comments mb-50">
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <a href="#">
                                            <img src="{% static 'img/avatar/avatar-1.jpg' %}" alt="avatar">
                                        </a>
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <div class="comment-meta-author">
                                                Karen Paran
                                            </div>
                                            <div class="comment-meta-reply">
                                                <a href="#">Reply</a>
                                            </div>
                                            <div class="comment-meta-date">
                                                <span>8:42 PM 3/3/2020</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="comment-body">
                                            <div class="comment-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <span>(Reting)</span>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, conser adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui.</p>
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <div class="comment">
                                            <div class="comment-author">
                                                <a href="#">
                                                    <img src="{% static 'img/avatar/avatar-2.jpg' %}" alt="avatar">
                                                </a>
                                            </div>
                                            <div class="comment-content">
                                                <div class="comment-meta">
                                                    <div class="comment-meta-author">
                                                        Paran Karen
                                                    </div>

                                                    <div class="comment-meta-reply">
                                                        <a href="#">Reply</a>
                                                    </div>

                                                    <div class="comment-meta-date">
                                                        <span>8:42 PM 3/3/2020</span>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="comment-body">
                                                    <div class="comment-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <span>(Reting)</span>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, conser adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div class="comment">
                                            <div class="comment-author">
                                                <a href="#">
                                                    <img src="{% static 'img/avatar/avatar-3.jpg' %}" alt="avatar">
                                                </a>
                                            </div>
                                            <div class="comment-content">
                                                <div class="comment-meta">
                                                    <div class="comment-meta-author">
                                                        David Roky
                                                    </div>

                                                    <div class="comment-meta-reply">
                                                        <a href="#">Reply</a>
                                                    </div>

                                                    <div class="comment-meta-date">
                                                        <span>8:42 PM 3/3/2020</span>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="comment-body">
                                                    <div class="comment-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <span>(Reting)</span>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, conser adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Comments section end -->

                    <!-- Contact 2 start -->
                    <div class="contact-2 c-mb">
                        <div class="main-title-2">
                            <h1>Leave a Comment</h1>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Contact form start -->
                                <div class="contact-form">
                                    <form action="#" method="GET" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group name">
                                                    <input type="text" name="name" class="form-control" placeholder="Name" aria-label="Full Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group email">
                                                    <input type="email" name="email" class="form-control" placeholder="Email Address" aria-label="Email Address">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group subject">
                                                    <input type="text" name="subject" class="form-control" placeholder="Subject" aria-label="Subject">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group number">
                                                    <input type="text" name="phone" class="form-control" placeholder="Phone" aria-label="Phone Number">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group message">
                                                    <textarea  class="form-control" name="message" placeholder="Write message" aria-label="Write message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="send-btn text-center">
                                                    <button type="submit" class="btn-md btn-theme btn-4 btn-7">Submit Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- Contact form end -->
                            </div>
                        </div>
                    </div>
                    <!-- Contact-2 end -->
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-xs-12">
                <div class="sidebar">
                    <!-- Search area box 3 start -->
                    <div class="sidebar-widget search-area-box-3 clearfix">
                        <h3>Check Availability</h3>
                        <h4 class="price">$260/Night</h4>
                        <div class="search-contents">
                            <form method="GET">
                                <div class="search-your-details">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="btn-default datepicker" placeholder="Check In">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="btn-default datepicker" placeholder="Check Out">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="room">
                                                    <option>Room</option>
                                                    <option>Single Room</option>
                                                    <option>Double Room</option>
                                                    <option>Deluxe Room</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="beds">
                                                    <option>Beds</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="adults">
                                                    <option>Adult</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <select class="selectpicker search-fields" name="children">
                                                    <option>Child</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group mb-0">
                                                <button type="submit" class="btn-md btn-theme btn-4 btn-7 w-100">Book Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Recent News start -->
                    <div class="sidebar-widget recent-news">
                        <div class="main-title-2">
                            <h1>Recent Posts</h1>
                        </div>
                        <div class="recent-news-item mb-3">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{% static 'img/small/img.jpg' %}" alt="small-img">
                                </a>
                            </div>
                            <div class="content">
                                <h3 class="media-heading">
                                    <a href="rooms-details.html">Host a Family Party</a>
                                </h3>
                                <div class="listing-post-meta">
                                    $599,00 | <a href="#"><i class="fa fa-calendar"></i> Jan 12, 2021</a>
                                </div>
                            </div>
                        </div>
                        <div class="recent-news-item mb-3">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{% static 'img/small/img-2.jpg' %}" alt="small-img">
                                </a>
                            </div>
                            <div class="content">
                                <h3 class="media-heading">
                                    <a href="rooms-details.html">Room with View</a>
                                </h3>
                                <div class="listing-post-meta">
                                    $599,00 | <a href="#"><i class="fa fa-calendar"></i> Aug 12, 2021</a>
                                </div>
                            </div>
                        </div>
                        <div class="recent-news-item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{% static 'img/small/img-3.jpg' %}" alt="small-img">
                                </a>
                            </div>
                            <div class="content">
                                <h3 class="media-heading">
                                    <a href="rooms-details.html">Double Room</a>
                                </h3>
                                <div class="listing-post-meta">
                                    $599,00 | <a href="#"><i class="fa fa-calendar"></i> Feb 12, 2021</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Category posts start -->
                    <div class="sidebar-widget category-posts">
                        <div class="main-title-2">
                            <h1>Category</h1>
                        </div>
                        <ul class="list-unstyled list-cat">
                            <li><a href="#">Air Conditioner	 <span>(45)</span></a></li>
                            <li><a href="#">Promotion <span>(21)</span></a></li>
                            <li><a href="#">Events <span>(23)</span></a></li>
                            <li><a href="#">Creative <span>(19)</span></a></li>
                            <li><a href="#">Design <span>(19)</span></a></li>
                            <li><a href="#">Other <span>(22)</span></a></li>
                        </ul>
                    </div>
                    <!-- Social media start -->
                    <div class="social-media sidebar-widget clearfix">
                        <!-- Main Title 2 -->
                        <div class="main-title-2">
                            <h1>Social Media</h1>
                        </div>
                        <!-- Social list -->
                        <ul class="social-list">
                            <li><a href="{{ home.facebook}}" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="{{ home.twitter}}" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="{{home.instagram}}" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li> 
                        </ul>
                    </div>
                    <!-- tags box start -->
                    <div class="sidebar-widget tags-box">
                        <div class="main-title-2">
                            <h1>Tags</h1>
                        </div>
                        <ul class="tags">
                            <li><a href="#">Rooms</a></li>
                            <li><a href="#">Promotion</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Video</a></li>
                            <li><a href="#">Audio</a></li>
                        </ul>
                    </div>
                    <!-- Location start  -->
                    <div class="location sidebar-widget">
                        <div class="map">
                            <!-- Main Title 2 -->
                            <div class="main-title-2">
                                <h1>Location</h1>
                            </div>
                            <div id="map" class="contact-map" style="height: 662px;"></div>
                        </div>
                    </div>
                    <!-- Recent comments start -->
                    <div class="sidebar-widget recent-comments">
                        <div class="main-title-2">
                            <h1>Recent comments</h1>
                        </div>
                        <div class="recent-comments-item mb-4">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{% static 'img/avatar/avatar-1.jpg' %}" alt="avatar">
                                </a>
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, conser adipiscing elit. Maecenas in pulvinar neque. </p>
                                <span>By <b>Karen Paran</b></span>
                            </div>
                        </div>
                        <div class="recent-comments-item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{% static 'img/avatar/avatar-2.jpg' %}" alt="avatar">
                                </a>
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, conser adipiscing elit. Maecenas in pulvinar neque. </p>
                                <span>By <b> Zamil Roy</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rooms detail section end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Become An Instructor</h3>
                    <p>Join thousand of instructors and earn money hassle free</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="contact.html" class="button btn-3">Contact now</a>
            </div>
        </div>
    </div>
</div>
<!-- intro section end -->

<!-- Footer start -->
<footer class="main-footer clearfix">
    <div class="container">
        <!-- Footer info-->
        <div class="footer-info">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <div class="main-title-2">
                            <h1>Contact Us</h1>
                        </div>
                        <ul class="personal-info">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                Address: 44 New Design Street,
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                Email:<a href="mailto:sales@hotelempire.com">info@themevessel.com</a>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                Phone: <a href="tel:+55-417-634-7071">+0477 85X6 552</a>
                            </li>
                            <li>
                                <i class="fa fa-fax"></i>
                                Fax: +0477 85X6 552
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <div class="main-title-2">
                            <h1>Booking</h1>
                        </div>
                        <ul class="links">
                            <li>
                                <a href="rooms-col-3.html">Rooms & Suites</a>
                            </li>
                            <li>
                                <a href="rooms-details.html">Restaurant</a>
                            </li>
                            <li>
                                <a href="rooms-col-2.html">Hotel</a>
                            </li>
                            <li>
                                <a href="#">Our Facilties</a>
                            </li>
                            <li>
                                <a href="rooms-col-3.html">Rooms</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <div class="main-title-2">
                            <h1>About</h1>
                        </div>
                        <ul class="links">
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="blog-right-sidebar.html">Blog & Events</a>
                            </li>
                            <li>
                                <a href="booking-system.html">Booking</a>
                            </li>
                            <li>
                                <a href="gallery-3column.html">Gallery</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-item newsletter">
                        <div class="main-title-2">
                            <h1>Newsletter</h1>
                        </div>
                        <div class="newsletter-inner">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <form class="form-inline" action="#" method="GET">
                                <input type="text" class="form-control" id="inlineFormInputName4" placeholder="Your Email">
                                <button type="submit" class="btn btn-small"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p> &copy;  2021 <a href="http://themevessel.com/" target="_blank">Theme Vessel</a>. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="clearfix"></div>
                    <ul class="social-list">
                        <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

{% endblock %}